<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document2</title>
</head>
<body>
    <style>
        body{
            background-color:darkgray
        }
    </style>
    <nav class="navbar navbar-expand-sm bg-blue navbar-blue">
        <ul class="active">
            <li>
            <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/login">Log In</a>
            </li>
        </ul>
    </nav>
        <div class="container">
                <div class="row">
                    <div class="col col-12  col=sm-6">
                        <table class="table">
                            <form action="/read" method="GET">
                            <tr><td>Username</td><td><input type="text" class="form-control" name="username"></td></tr>
                            <tr><td>Password</td><td><input type="text" class="form-control" placeholder="Password"></td></tr>
                            <tr><td></td><td><button type="submit" class="btn btn-info">Log in</button></td></tr>
                        </table></form>
        
        
                    </div>
                </div>
        
            </div>
</body>
</html>